/* ------------------------------ Color Palette ----------------------------- */
/* ----- #fbf6f0, #ffa45b, #ffda77, #ade498, #a55bff, #191816, #35363a ------ */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* ------------------------------ Variables ----------------------------- */
/* -------------------------------------------------------------------------- */

$primary-color: #fbf6f0;
$secondary-color: #ffda77;
$tertiary-color: #ffa45b;
$quaternary-color: #ade498;
$accent-color: #a55bff;
$text-color: #191816;
$text-alt-color: #acacae;
$box-shadow-black: #11111133;
$modal-bckgrnd-color: #11111199;
$primary-font: 'Noto Serif', sans-serif;
$heading-font: 'Expletus Sans', sans-serif;
$catchy-font: 'Sacramento', sans-serif;
$modal-data-font: 'Montserrat', sans-serif;
