/* -------------------------------------------------------------------------- */
/* -------------------------------- Result ---------------------------------- */
/* -------------------------------------------------------------------------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $modal-bckgrnd-color;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 100;
  // border: 1px solid green;

  .close-modal {
    position: absolute;
    top: 5.5%;
    right: 11.5%;
    padding: 0 0.5rem;
    background-color: $primary-color;
    border-radius: 50%;
    font-size: 1.5rem;
    color: $text-alt-color;
    z-index: 2;

    &:hover {
      color: $accent-color;
    }
  }

  .modal-item-icon {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    color: $secondary-color;
    background-color: $accent-color;
    padding: 1rem;
    border-radius: 50%;
    -webkit-box-shadow: 3px 3px 5px $box-shadow-black, 1px 1px 7px $secondary-color;
    box-shadow: 3px 3px 5px $box-shadow-black, 1px 1px 7px $secondary-color;
  }

  .add-item, .new-item.flight {
    position: absolute;
    display: inline;
    bottom: 0; right: 0;
    font-size: 2rem;
    line-height: 2rem;
    color: $accent-color;
    padding: 0.25rem;
    margin: 0.5rem;
    border-radius: 50%;
    // border: 1px solid green;

    &:hover {
      background-color: $accent-color;
      color: $secondary-color;
    }
  }
}

.modal-container {
  position: relative;
  width: 75%;
  height: 85%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  border-radius: 0 20px 0 20px;
  background-color: $secondary-color;
  -webkit-box-shadow: 2px 2px 15px $box-shadow-black, 1px 1px 15px $secondary-color;
  box-shadow: 2px 2px 15px $box-shadow-black, 1px 1px 15px $secondary-color;
  // border: 1px solid blue;

  .modal-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 20px 0 20px;

    img.loc-img {
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(40%);
      filter: grayscale(40%);
      index: -1;
    }

    .loc-data {
      position: absolute;
      left: 0; bottom: 0;
      margin: 1rem;
      color: $primary-color;
      text-align: left;
      border-radius: 0 20px 0 20px;
      background-color: $box-shadow-black;

      h1, h3 {
        margin: 0;
      }
    }

    input#save-trip-btn {
      margin: 1rem;
      margin-bottom: 1.5rem;
      border: none;
      position: absolute;
      right: 0; bottom: 0;
      line-height: 2.5rem;
      font-family: $primary-font;
      font-size: 1.25rem;
      border-radius: 10px;
      padding: 0 1rem;
      background-color: $accent-color;
      color: $primary-color;
      -webkit-box-shadow: 1px 1px 10px #1115;
      box-shadow: 1px 1px 10px #1115;

      &:hover {
        background-color: $secondary-color;
        color: $accent-color;
        -webkit-box-shadow: 1px 1px 10px $box-shadow-black, 1px 1px 10px #a55bff55;
        box-shadow: 1px 1px 10px $box-shadow-black, 1px 1px 10px #a55bff55;
      }
    }
  }

  .modal-data {
    margin: 1rem;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
    grid-template-rows: auto;

    h1, h2, h3, h4, h5, h6, p {
      margin: 0;
      font-family: $modal-data-font;
    }

    // .text-alt {
    //   color: $text-alt-color;
    // }

    .col {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 40% 58%;
      grid-gap: 2%;
      align-content: center;
    }

    .alt-col {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 58% 40%;
      grid-gap: 2%;
      align-content: center;
    }

    .modal-item {
      position: relative;
      border-radius: 0 20px 0 20px;
      background-color: $primary-color;
      -webkit-box-shadow: 3px 3px 5px $box-shadow-black, 1px 1px 10px $primary-color;
      box-shadow: 3px 3px 5px $box-shadow-black, 1px 1px 10px $primary-color;
      // border: 1px solid green;


    }
  }

  // Weather Section Styling

  .modal-item.weather {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .with-data.weather {
    width: 100%;
    height: 100%;
    font-family: $modal-data-font;
    position: relative;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 75% 25%;
    grid-column-gap: 2%;

    h1 {
      font-size: 3rem;
      margin: 0.5rem 0;
    }

    p {
      font-size: 0.85rem;
    }

    .weather-data {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;

      &.main-data, &.other-data {
        align-items: flex-start;
      }

      &.sun-data {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10%;
      }

      .sun-riseset, .sun-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      .sun-data-filler {
        color: $primary-color;
        line-height: 0.5rem;
      }
    }

    i {

      color: $secondary-color;

      &.weather {
        margin: 0;
      }

      &.wind, &.tint {
        padding-top: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }

  // Packing List

  .modal-item.packing {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin: 0.75rem 0;
    }

    div.new-item.packing {
      position: absolute;
      left: 0; bottom: 0; right: 0;
      color: $accent-color;
      margin: 0.5rem;
      display: grid;
      grid-template-columns: 83% 15%;
      grid-row: 1.5rem;
      grid-column-gap: 2%;
      // border: 1px solid green;

      input[type='text'] {
        border: none;
        background-color: inherit;
        border-radius: 50px;
        line-height: 1.5rem;
        font-size: 1rem;
        padding: 0 0.75rem;
        -webkit-box-shadow: 3px 3px 5px $box-shadow-black, 1px 1px 10px $primary-color, -1px -1px 3px $box-shadow-black, -1px -1px 10px $primary-color;
        box-shadow: 3px 3px 5px $box-shadow-black, 1px 1px 10px $primary-color, -1px -1px 3px $box-shadow-black, -1px -1px 10px $primary-color;

        &:hover, &:focus {
          outline: none
        }
      }

      i {
        font-size: 1.25rem;
        padding: 0.25rem;
        border-radius: 50%;

        &:hover {
          color: $secondary-color;
          background-color: $accent-color;
        }
      }
    }

    .with-data.packing {
      margin-bottom: 2.5rem;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 200px;
    }

    .packing-item {
      padding: 0.25rem;
      display: grid;
      grid-template-columns: 83% 15%;
      grid-row: 1.5rem;
      grid-column-gap: 2%;
      margin-bottom: 0.25rem;
      border-radius: 10px;
      border-top: 1px solid $box-shadow-black;
      border-bottom: 1px solid $box-shadow-black;

      label.item-name {
        display: flex;
        align-items: flex-start;
      }

      i.tick {
        display: none;
        color: $box-shadow-black;
        padding: 0.25rem;
      }

      input[type="checkbox"]:checked+label {
        color: lightgray;

        &~ .item-selector>.radio {
          display: none;
        }

        &~ .item-selector>.tick {
          display: block;
        }
      }
    }
  }

  // Flight Ticket Section Styling
  .modal-item.flight {
    position: relative;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin: 0.75rem 0;
    }

    .modal-item-icon.flight {
      transform: rotateZ(-45deg);
    }

    .modal-item-cta-input.flight {
      text-align: left;

      .from-place, .from-date, .from-time, .to-place, .to-date, .to-time {
        position: relative;
      }

      label {
        display: inline;
        font-size: 0.75rem;
      }

      input {
        margin-bottom: 0.25rem;
        border-radius: 50px;
        padding: 0.25rem 0.5rem;
        -webkit-box-shadow: 1px 1px 3px $box-shadow-black, 1px 1px 5px $primary-color;
        box-shadow: 1px 1px 3px $box-shadow-black, 1px 1px 5px $primary-color;
        &[type='date'], &[type='time'] {
          display: inline;
        }
      }
    }

    .with-data.flight {
      margin-bottom: 2.5rem;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-height: 200px;
      justify-content: stretch;
      border-radius: 10px;
      // border: 1px solid green;

      .ticket {
        padding: 0.5rem;
        position: relative;
		    flex: 1 1 auto;
		    height: 25%;
		    transition: all .5s ease-in-out;
		    overflow: hidden;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 125px;
        // border: 1px solid green;

        &:hover {
          height: 100%;
          overflow: visible;
        }

        .ticket-to, .ticket-from {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: $accent-color;
          border-radius: 10px;
        }

        .ticket-div-left {
          align-items: flex-start;
          -webkit-box-shadow: 0px 2px 1px $box-shadow-black, 0px 3px 1px $secondary-color;
          box-shadow: 0px 2px 1px $box-shadow-black, 0px 3px 1px $secondary-color;
          text-align: left;
        }
        .ticket-div-right {
          align-items: flex-end;
          -webkit-box-shadow: 1px 2px 3px $box-shadow-black, 1px 3px 5px $secondary-color;
          box-shadow: 2px 2px 3px $box-shadow-black, 3px 3px 3px $secondary-color;
          text-align: right;
        }

        .ticket-text {
          margin: 0.5rem;
          color: $primary-color;

          i {
            color: $secondary-color;
          }
        }
      }
    }
  }

  .modal-item.country-info {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .with-data.country-info {
    width: 100%;
    height: 100%;
    font-family: $modal-data-font;
    position: relative;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 74% 24%;
    grid-gap: 2%;

    .text-label {
      padding: 0 0 0.5rem;
    }

    .country-info-data.main {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .country-info-data.flag {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      div.modal-item-icon.country-info {
        padding: 0;
        width: 4rem;
        height: 4rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border: 0.5rem solid $accent-color;
      }

      img#flag-img {
        border-radius: 50%;
        width: 150%;
        height: 125%;
      }
    }

    .country-info-data.currency {
      width: 100%;
      height: 100%;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .curr-symbol {
        border-radius: 50%;
        padding: 0.25rem 0.5rem;
        font-size: 1.25rem;
        color: $secondary-color;
        background-color: $accent-color;
      }
    }

    .country-info-data.other {
      width: 100%;
      height: 100%;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .lang-icon {
        margin-left: 0.5rem;
        border-radius: 50%;
        padding: 0.5rem;
        font-size: 1.25rem;
        color: $secondary-color;
        background-color: $accent-color;
      }
    }
  }
}
