/* Color Palette */
/* #ffa45b, #ffda77, #fbf6f0,  #56b4a8, #a55bff, #ade498, #e47756
#56b4a8, #ed6844, #95dbd6, #f1d276, #F6F7D4
#28DF99, #99F3BD, #D2F6C5, #F6F7D4, #ADE498, #AEE6E6, #7794ff, #abff62 */
// Unused Fonts - Averia Sans Libre, Sacramento

$primary-color: #fbf6f0;
$secondary-color: #ffa45b;
$tertiary-color: #ffda77;
$quaternary-color: #ade498;
$accent-color: #a55bff;
$text-color: #191816;
$text-alt-color: #35363a;
$primary-font: 'Noto Serif', sans-serif;
$headline-font: 'Expletus Sans', sans-serif;
$header-font: 'Sacramento', sans-serif;


body {
  font-family: $primary-font;
  background-color: $primary-color;
  color: $text-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  // height: 100vh;
  margin: 0;
  // border: 2px solid green;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline-font;
}

#header {
  height: 100vh;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  // border: 1px solid red;
}

#header-backdrop {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.nav-container {
  width: 100%;
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: 1fr 4fr 3fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  // border: 1px solid blue;
}

#app-logo {
  width: 10rem;
  float: left;
  margin: 0.5rem 1rem;
}

.nav-menu {

  ul {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-row: auto;
    grid-gap: 1%;
    direction: rtl;

    li {
      display: inline;
      line-height: 3rem;

      &.selected {
        // border-top: 2px solid $accent-color;
        // border-bottom: 2px solid $accent-color;
        // border-bottom-width: medium;
        // border-radius: 10px;
        color: $accent-color;
        font-weight: bold;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.hero-container {
  width: 100%;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  // border: 1px solid blue;
}

.hero {
  position: relative;
  width: 95%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 15px #1113, 1px 1px 25px $tertiary-color;
  box-shadow: 2px 2px 15px #1113, 1px 1px 25px $tertiary-color;
  // border: 1px solid blue;
}

.get-started {
  display: none;
}

.get-started-text {
  display: flex;
  position: absolute;
  top: 30%;
  left: 3%;
  width: 50%;
  text-align: left;
  text-shadow: 2px 2px 15px $primary-color;

  span {
    color: $accent-color;
  }

  h1 {
    color: $accent-color;
    font-size: 3rem;
    margin: 1.5rem 0;
    font-family: $header-font;
  }
}

#get-started-btn {
  position: absolute;
  top: 75%;
  left: 25%;
  line-height: 2.5rem;
  font-family: $primary-font;
  font-size: 1.25rem;
  border-radius: 10px 0 10px 0;
  border: none;
  padding: 0 1rem;
  background-color: $accent-color;
  color: $primary-color;
  -webkit-box-shadow: 2px 2px 15px #fff9;
  box-shadow: 2px 2px 15px #fff9;

  &:hover {
    background-color: $tertiary-color;
    color: $accent-color;
  }
}

.dot-circle {
  font-size: 0.5rem;
}

.cta-container {
  position: absolute;
  top: 40%;
  left: 2%;
  text-align: left;

  h1 {
    grid-area: 1/1/span 1/span 3;
    font-family: $header-font;
    color: $accent-color;
  }
}

.new-search-cta {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: stretch;
  justify-content: center;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 5px #35363a55;
  box-shadow: 1px 1px 5px #35363a55;
  // border: 1px solid blue;

  label {
    color: $tertiary-color;
    font-size: 1.25rem;
  }
}

.search-where-to, .search-start-date {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

#where-to {
  line-height: 2.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  padding-left: 1rem;
  background-color: inherit;

  &:focus {
    outline: none;
  }
}

#trip-start-date {
  line-height: 2.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 50px;
  padding: 0 1rem;
  background-color: inherit;

  // &:before {
  //   content: attr(placeholder) !important;
  // }

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.trip-search-btn {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  background-color: inherit;

  &:hover {
    border-radius: 50%;
    background-color: $accent-color;
    color: $primary-color;
    cursor: pointer;
  }

  label:hover {
    background-color: $accent-color;
    color: $primary-color;
    cursor: pointer;
  }
}

#search-btn {
  display: none;
}

.result-container {
  border: 1px solid blue;
}

#footer {
  // flex: 0 1 auto;
  border-radius: 5px;
  background-image: linear-gradient(#e4775699, $secondary-color, #e47756aa);
  color: $primary-color;
  // border: 1px solid blue;
}
